#div1{
    width:80px;
    height:80px;
    background:red;
}

#div2{
    width:80px;
    height:80px;
    background:green;
}

#div3{
    width:80px;
    height:80px;
    background:blue;
}